.analysis-page-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 100vh;

    .analysis-product-section {
    flex: 0 0 1000px;
  }

  .analysis-report-section {
    flex: 1;
  }

}
